* {
  margin: 1rem;
  padding: 0;
}

body {
  background-color: darkgreen;
  width: 90%;
}

main {
 /* display: inline; */
 display: block;
  width: 100%;
}

img {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

h1, h2, h3 {
  color: white;
  font-size: xx-large;
  text-align: center; 
}

P {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}